$liteColor: hsl(240, 78%, 98%);
$darkTextColor: hsl(232, 13%, 33%);
$liteTextColor: hsl(233, 13%, 49%);
$bgColor: hsl(234, 14%, 74%);

$gradientBg: linear-gradient(130deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
$gradientBghid: linear-gradient(130deg, hsla(236, 72%, 79%, 0) 0%, hsla(237, 63%, 64%, 0) 100%);