@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import 'colors';


/** ============== global style ================ */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 700;
    font-size: 15px;
    background: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-color: $liteColor;
    background-repeat: no-repeat;
    background-position: right top, bottom left;
}

ul li {
    list-style: none;
}

img {
    border-style: none;
    object-fit: cover;
    max-width: 100%;
}

/* hide scroll bar if needed */

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove 'X' from input box to clear the text*/

input::-ms-clear {
    display: none;
}


/* remove arrow from select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* text-indent: 1px; */
    /* text-overflow: ''; */
}

/** ============ start  custom style ============ */


.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

small {
    font-size: 60%;

}

header {
    text-align: center;

    h1 {
        color: $darkTextColor;
        margin-bottom: 1rem;
    }
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bgColor;

    &__trg {
        position: relative;
        display: flex;
        align-items: center;
        width: 60px;
        height: 30px;
        border-radius: 50px;
        background: $gradientBg;
        padding: 0 5px;
        margin: 0 10px;
        cursor: pointer;

        &_ball {
            position: absolute;
            width: 23px;
            height: 23px;
            border-radius: 25px;
            background-color: white;

        }

        .active {
            right: 5px;
        }
    }

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    min-width: 300px;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;

    &:nth-of-type(even) {
        z-index: 10;
    }

    &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &__header {
        margin-bottom: 1rem;
        color: $liteTextColor;
    }

    &__price {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: $darkTextColor;

        &_big,
        &_small {
            display: none;
        }

        .active {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.4rem;
        }
    }

    &__list {
        margin-bottom: 1rem;

        li {
            color: $liteTextColor;
            padding: 1rem 0;
            border-top: 1px solid $bgColor;



            &:last-child {
                border-bottom: 1px solid $bgColor;
                ;
            }
        }
    }

    &__submit {
        width: 100%;
        background: $gradientBg;
        line-height: 200%;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
            background: $gradientBghid;
            border: 1px solid hsl(237, 63%, 64%);
            color: hsl(237, 63%, 64%);
        }


    }

    &-middle {
        padding: 3rem 1rem;
        color: white;
        background: $gradientBg;

        .card__header {
            color: white;
        }

        .card__list li {
            color: white;
            // border-top: solid 1px white;
        }

        .card__price {
            color: white;
        }

        .card__submit {
            color: hsl(237, 63%, 64%);
            background: white;


            &:hover {
                background: transparent;
                border: 1px solid white;
                color: white;
            }
        }
    }
}



@media screen and (max-width:1024px) {
    body {
        margin: 1rem 0;
        gap: 2rem;
        background-position: calc(100% + 50vw) -10%,
            bottom left;
    }

    .container {
        flex-direction: column;
        gap: 1rem;

        .card {
            border-radius: 1rem;
        }
    }
}